// Darkens card photo.
.card-image-darken {
   -webkit-filter: brightness(70%);
}

// Resize card photo.
.card-image-small {
  min-height: 200px;
  max-height: 200px;
  object-fit: cover;
}

// Style for individual recipe.
.card {

  display: block;

  font-size: 1em;

  margin-bottom: 5px;
  padding-left: 2.5px;
  padding-right: 2.5px;


  .card-image {
    position: relative;

    img { overflow: hidden; };

    .card-title {
      position: absolute;
      bottom: 0;
      left: 0;

      margin: 3%;

      font-size: 0.9em;
      color: #FFFFFF;
      text-transform: uppercase;

    }
  }

  .card-description {
    background-color: white;
    color: #333333;
    font-size: 0.75em;

    padding: 3%;

    p {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

  }

}
