.recipe {

  font-family: "Roboto", sans-serif;
  font-size: 1em;

  margin-top: 25px;

  .recipe-image {

    position: relative;
    background-color: #000000;

    img {
      object-fit: cover;
      min-height: 200px;
      max-height: 200px;
      display: block;
      width: 100%;
      opacity: 0.85;
    }

    .recipe-title {
      position: absolute;
      bottom: 0;
      left: 0;
      max-width: 100%;

      & > p {
        margin: 0;
        font-size: 1.5em;
        padding-left: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
        color: white;
        text-transform: uppercase;
      }
    }

  }

  .recipe-description {
    background-color: white;

    & > p {
      margin: 0;
      padding: 15px;
      font-size: 1.25em;
    }
  }

}

.button-add-recipe {
  display: block;
  width: 100%;
}

.recipe-title {
  p:empty::before {
    content: "(Untitled)"
  }
}

.recipe-description {
  p:empty::before {
    content: "No description";
  }
}
