
.recipe-view {
  position: absolute;
  top: 0;
  left: 2.5%;

  z-index: 100;

  max-width: 95%;
  width: 95%;
  min-height: 100%;

  padding: 5%;

  font-size: 1.25em;

  .recipe-title {
    text-align: center;
    font-size: 2em;

    padding: 15px;
    margin-bottom: 5px;
  }

  .recipe-description {
    text-align: center;
    font-size: 1.25em;

    padding: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .container-recipe-ingredients {
    margin-top: 10px;
    margin-bottom: 10px;

    .recipe-ingredients {
      padding: 15px;
      line-height: 200%;
      font-size: 1em;
    }

  }

  .container-recipe-image {
    text-align: center;

    .container-imageuploader {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .img-constraints {
      max-width: 100%;
      max-height: 50vh;
    }

    .button-array {
      text-align: center;
      button {
        display: block;
        width: 100%;
      }
    }

  }

.container-recipe-instructions {
  margin-top: 10px;
  margin-bottom: 10px;

  .recipe-instructions {
    padding: 15px;
    line-height: 200%;
    font-size: 1em;
  }
}








  .form-field-editable {
    background-color: teal;
  }

  .section-header {
    text-align: center;
  }









  .contentEditable-name:empty::before {
    content: "Enter a short title";
    color: #D3D3D3;
  }

  .contentEditable-description:empty::before {
    content: "Enter a short description";
    color: #D3D3D3;
  }

  .contentEditable-ingredients:empty::before {
    content: "Enter some ingredients";
    color: #D3D3D3;
  }
  .contentEditable-instructions:empty::before {
    content: "Enter some preparation instructions";
    color: #D3D3D3;
  }

  .button-view::after {
    content: "View";
  }

  .button-edit::after {
    content: "Edit";
  }

  .container-btn-submit {

    margin-top: 25px;

    text-align: center;

    button {
      display: block;
      width: 100%;
      margin: 2px;
    }
  }

}
