body {
  background-color: #00796b;
}

@import '_recipe.scss';
@import '_view-recipe.scss';

.clearfix {
  clear: both;
}

.hidden {
  display: none;
}
.invisible {
  visibility: hidden;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.cursor-hand {
  cursor: pointer;
  cursor: hand;
}


.modal-click-barrier {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  min-width: 100%;
  width: 100%;
  min-height: 100%;
  height: 100%;

  background-color: rgba(0,0,0,0.60);
}
